
p.advertisemenet {
    display: flex;
    position: fixed;
    top: 200px;
    color: white;
    font-size: 32px;
}


.vidos {
    z-index: 1;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

